* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #1d1d1d;
}

button,
input {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}